{%include 'nevigation.html' %}
{%include 'base.html' %}
{% block content%}
<h1 class="text-center"> about us</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>
                This is about page and i want to say something to you please help me your
                dicision in the world who are successful person of the world in the history
            </p>
            <p>
                This is about page and i want to say something to you please help me your
                dicision in the world who are successful person of the world in the history
            </p>
        </div>
        <div class="col-md-6">
            <p>This is another tag for us to devlop something in the world this the
                way of learning the the world this is why people are taking serious
                issue about us this section help to get job in the world.
            </p>
        </div>
    </div>
</div>

{% endblock content%}