{%include 'nevigation.html' %}
{%include 'base.html' %}

{% block content %}
<div class="container style =" margin-top:50px;">
    <h1 class="text-center">contact us</h1>
    <div class="row mt-5 text-center">
        <div class="col-lg-3 col-sm-6">
            <h4>
                <i class="fas fa-phone">contact</i>
            </h4>
            <p class="text-denger font-weight-bold mt-3"><a href="tel:+9813877392">9813877392</a></p>
        </div>
        <div class="col-lg-3 col-sm-6">
            <h4>
                <i class="fa-solid fa-envelope"> Send Email</i>
                <br>
                <p class="text-denger font-weight-bold mt-3"><a href="mail to:abc@gmail.com">abc@gmail.com</a></p>
            </h4>
        </div>
        <div class="col-lg-3 col-sm-6">
            <h4><i class="fa-solid fa-address-book"> Address</i>
                <p class="text-denger font-weight-bold mt-3"><a
                        href="https://maps.google.com/maps?q='dhading'">dhading</a></p>
            </h4>
        </div>
        <div class="col-lg-3 col-sm-6">
            <h4><i class="fa-solid fa-address-book">office time</i>
                <p class="text-denger font-weight-bold mt-3">10Am to 5Am</p>
            </h4>
        </div>
    </div>
</div>

{% endblock content %}